@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Geist", sans-serif;
  height: 100vh;
  overflow: hidden;
}

#root {
  --primary-color: #2f2118;
  --radius: 8px;
  --nav-link: #797978;
  --nav-border: #dbdbd3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
