.nav {
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 0.5px solid var(--border);
  padding: 0 1rem;
}

.logo {
  height: 42px;
}

.middle-nav-btns-container,
.add-product-link {
  display: none;
}

.add-product-icon,
.add-product-link {
  color: #0b0b0b;
}

.add-product-link {
  font-size: 14px;
  text-decoration: none;
  border: 0.5px solid hsl(from #0b0b0b h s l / 20%);
  border-radius: var(--radius);
  padding: 6px 12px;
  transition: background-color 0.15s, transform 0.1s;
}

.add-product-link:hover {
  background-color: #fcfcfb;
}

@media (min-width: 540px) {
  .nav {
    justify-content: space-between;
    padding: 0.2rem 1.5rem;
  }

  .middle-nav-btns-container {
    display: inline;
  }

  .add-product-link {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .middle-nav-btns-container {
    display: flex;
    gap: 24px;
  }
}
