.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.5px solid var(--border);
  padding: 10px 0px;
}

@media (min-width: 540px) {
  .bottom-nav {
    display: none;
  }
}
