.icon,
.text {
  color: #a0918a;
}

.text {
  font-size: 10px;
}

.bottom-nav-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.active .icon,
.active .text {
  color: #2f2118;
}
